#logoBrainster {
    width: 60px;
    margin-top: -17px;
}

.borderRadius {
    border-radius: 0;
    padding: 25px 0;
}

.yellowNav {
    background-image: none;
    background-color: #fcd232 !important;
}

.yellowNavvraboti {
    background-image: none;
    background-color: #fcd232 !important;
    border-bottom: 2px solid #d4b229;
}

.navigationBar>ul>li {
    padding-left: 1.7vw;
}

.navBlack {
    color: #302f38 !important;
    font-weight: bold;
}

.navBlack:hover {
    color: #302f38e0 !important;
    font-weight: bold;
}

.redButton {
    color: white !important;
    font-weight: bold;
    background-color: #eb483a !important;
    padding: 6px 12px !important;
    margin-top: 10px;
}

.redButton:hover {
    color: #302f38!important;
    font-weight: bold;
    background-color: #eb483a !important;
    padding: 6px 12px !important;
    margin-top: 10px;
}

.navigationButton {
    padding-left: 3.5vw !important;
}

.heightOffice {
    height: 80vh;
}

.photoOffice {
    background-image: linear-gradient(rgba(111, 111, 111, 0.35), rgba(111, 111, 111, 0.35)), url("office.jpg");
    background-position: bottom;
    background-size: cover;
    height: 100%;
}

.officeText {
    font-weight: bold;
    color: white;
    margin-top: 30vh;
    font-size: 5.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projectsOption:active {
    background-color: #eb483a;
    color: #302f38;
    cursor: pointer;
}

.projectsOption {
    background-color: #302f38;
    color: white;
    font-weight: bold;
    border-left: 1px solid #3c3b42e0;
}

.projectsOption:hover {
    background-color: #eb483a;
    color: #302f38;
    cursor: pointer;
}

.projectsOptionText {
    padding: 18px 0 5px 0;
}

.glyphOptions {
    padding: 25px 0 5px 0;
    font-size: 25px;
    color: #302f38;
}

.yellow {
    background-color: #fcd232;
}

.textGray {
    color: #302f38;
    font-size: 3em;
    font-weight: bold;
    padding: 25px 0 15px;
}

.width70 {
    margin-left: 15vw;
    margin-right: 15vw;
}

.gray {
    background-color: #302f38;
    padding: 7px 0;
}

.textFooter {
    color: white;
    font-weight: bold;
    font-size: 0.8em;
}

.vrabotiYellow {
    background-color: #fcd232;
}

.vrabotiText {
    color: #302f38;
    font-size: 3.6em;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 65px 0;
}

.labelForm {
    color: #302f38;
}

.inputForm {
    width: 90%;
    padding: 10px 15px;
    color: #d4b229;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
}

.inputButton {
    width: 90%;
    padding: 10px 15px;
    background-color: white;
    color: #302f38;
    font-size: 0.95em;
    font-weight: bold;
    text-align: start;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
}

.buttonIsprati {
    margin-top: 1%;
    width: 90%;
    padding: 11px 15px;
    background-color: #eb483a;
    color: white;
    font-size: 0.95em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.centerCard {
    width: 75%;
    display: inline-block;
    margin-left: 20%;
}

.card {
    background-color: white;
    color: black;
    width: 25%;
    display: inline-block;
    margin: 10px 8px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #7e7e7e6e;
}

.card:hover {
    cursor: pointer;
    position: relative;
    top: -8px;
}

.photoCard {
    width: 100%;
    opacity: 0.85;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.titleCard {
    background-color: #fcd232;
    margin-left: 6%;
    padding: 3px 6px;
}

.marginTop {
    margin-top: 8%;
}

.nameProject {
    font-weight: bold;
    margin: 5% 10% 0 6%;
}

.descriptionProject {
    font-size: 0.8em;
    margin: 4% 4% 0 6%;
}

.dateProject {
    font-size: 0.8em;
    margin: 4% 6%;
    font-weight: bold;
}

.buttonProject {
    display: inline-block;
    color: white;
    background-color: #eb483a;
    font-size: 0.8em;
    padding: 10px 25px;
    margin-left: 40%;
    margin-top: 6%;
    border-radius: 4px;
}

.buttonProject:hover {
    cursor: pointer;
}

.buttonLoadMore {
    display: flex;
    width: 10vw;
    justify-content: center;
    margin-left: 34%;
    color: white;
    background-color: #eb483a;
    font-size: 1em;
    padding: 10px 25px;
    margin-top: 2%;
    border-radius: 4px;
}

.buttonLoadMore:hover {
    cursor: pointer;
}

.paddingTop {
    padding-top: 25px;
}

.paddingSpace {
    height: 30vh;
}

.navigation {
    display: none;
}

.success {
    color: #eb483a;
    font-weight: bold;
    margin-top: 10vh;
}

.select {
    width: 90%;
    background-color: white;
    padding: 10px;
    color: rgb(100, 100, 100);
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
}

.select:hover {
    cursor: pointer;
}

@media screen and (min-width:426px) and (max-width:768px) {
    .heightTablet {
        height: 18vh;
    }
    .heightTabletLogo {
        height: 12vh;
    }
    .logoTablet {
        margin-left: 40vw;
    }
    .tabletRowheight {
        height: 13%;
    }
    .navTablet {
        margin-left: 80px;
    }
    .width70 {
        margin-left: 4vw;
        margin-right: 0;
    }
    .tabletRow {
        height: 30%;
    }
    .paddingTopGlyphicon {
        padding-top: 12px;
    }
    .card {
        width: 45%;
        display: inline-block;
    }
    .centerCard {
        margin-left: 14%;
    }
    .buttonLoadMore {
        display: flex;
        width: 35vw;
        justify-content: center;
        margin-left: 22%;
        color: white;
        background-color: #eb483a;
        font-size: 1em;
        padding: 10px 25px;
        margin-top: 2%;
        border-radius: 4px;
    }
    .glyphdropdown {
        padding-top: 1%;
    }
}

@media screen and (max-width: 425px) {
    .photoOffice {
        background-image: none;
        background-color: #fcd232;
    }
    .heightOffice {
        height: 60vh;
    }
    .officeText {
        color: #302f38;
        margin: 0;
        padding-top: 32%;
        font-size: 3.4em;
    }
    /* if the cover photo needs to stay
    .officeText {
        display: none;
    } */
    .textGray {
        text-align: left;
        margin-left: 35px;
    }
    .nav {
        display: none;
    }
    .paddingTop {
        padding-top: 0;
    }
    .paddingMobileForm {
        padding-top: 26px;
    }
    .paddingMobileFormButton {
        padding-top: 35px;
    }
    .width70 {
        margin-left: 6vw;
        margin-right: 0;
    }
    .card {
        width: 100%;
    }
    .centerCard {
        width: 82%;
        margin-left: 7%;
    }
    .buttonProject {
        margin-left: 50%;
    }
    .buttonLoadMore {
        display: flex;
        width: 45vw;
        justify-content: center;
        margin-left: 24%;
        color: white;
        background-color: #eb483a;
        font-size: 1em;
        padding: 10px 25px;
        margin-top: 2%;
        border-radius: 4px;
    }
    .glyphdropdown {
        margin-top: 0;
    }
    .navigation {
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        background-color: #fcd232;
        height: 13vh;
        border-bottom: 2px solid #d4b229;
    }
    .toggle-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        align-items: flex-end;
        /* margin: 5px; */
        margin-right: 10px;
    }
    .toggle-nav:hover {
        cursor: pointer;
    }
    .toggle-nav div {
        width: 100%;
        height: 6px;
        border-radius: 3px;
        background-color: #555555;
        margin: 3px;
    }
    .toggle-nav div:nth-child(2) {
        width: 75%;
    }
    .toggle-nav div:nth-child(3) {
        width: 50%;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        height: 100%;
        background-color: #302e38;
        display: flex;
        flex-direction: column;
        width: 0;
        overflow-x: hidden;
        transition: width 0.35s ease-in-out;
        max-width: 100vw;
    }
    .sidebar a {
        color: #fcd232;
        padding: 10px;
        padding: 30px;
        font-size: 1.3em;
        text-decoration: none;
        transition: 0.5s;
        white-space: nowrap;
    }
    .sidebar a:hover {
        color: white;
    }
    .sidebar a i {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    #logoBrainster {
        width: 45px;
        margin-right: 70vw;
        margin-top: 0.2vh;
    }
    .vrabotiMobile {
        background-color: #fcd232;
        border: 2px solid #d4b229;
        border-radius: 4px;
        color: #302e38 !important;
        width: 50vw;
        padding: 8px 0 8px 12px !important;
        margin-left: 30px;
    }
}